<footer>
  <small>
    Site contents &copy; David Rhoden.
	Web portfolio contents are &copy; and &trade; their respective owners.<br>
	Designed and developed in Holy Cross, Lower Ninth Ward, New Orleans, Louisiana by David Rhoden.
  </small>
</footer>
