<footer>
{% include "components/nav-secondary.njk" %}
  <small>
    Site contents &copy; David Rhoden.
	Web portfolio contents are &copy; and &trade; their respective owners.
	Designed and developed in New Orleans by David Rhoden.
  </small>
</footer>
