---
layout: layouts/base.njk
section: animation
permalink: /animation/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set animationlist = collections.animation %}
{% include "components/animationlist.njk" %}

<nav>
  {{ prevPost.url }} {{ prevPost.data.title }}
  <a href="{{ '/blog/' | url }}">← Blog index</a>
  {{ nextPost.url }} {{ nextPost.data.title }}
</nav>