<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{{ pageClass }}">
		<div class="container">

			<header>
				<a class="mainlink" href="{{ '/' | url }}">{{ metadata.title }}</a>
				{% include "components/nav.njk" %}
			</header>

			<main>
				{{ layoutContent | safe }}
			</main>

			{% include "components/footer.njk" %}
		</div>

	</body>

</html>
