---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

<section class="container">
	<section class="content-text">
	{{ layoutContent | safe }}
	</section>
	<section class="content-image">
	</section>
</section>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}