---
layout: layouts/base.njk
section: home
---

<!-- {{ layoutContent | safe }} -->

{% block header %}
This is the default content
{% endblock %}

<div class="flex space-around align-items-center">
<section class="left">
{% block left %}
I feel like I just moved to a new apartment in an unfamiliar town. I moved my site to a static site generator to be deployed on [Netlify](https://www.netlify.com).
{% endblock %}
</section>

<section class="right">
{% block right %}
![frazzled looking guy saying aah, a drawing by David Rhoden](/static/img/aah-guy.jpg "frazzled looking guy saying aah, a drawing by David Rhoden")
{% endblock %}
</section>
</div>
