---
layout: layouts/base.njk
section: illustration
pagination:
  data: collections.illustration
  size: 1
  reverse: true
permalink: /timeline/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set illustrationlist = collections.illustration %}
{% include "components/illustrationlist.njk" %}
