---
layout: layouts/base.njk
section: illustration
permalink: /illustration/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set illustrationlist = collections.illustration %}
{% include "components/illustrationlist.njk" %}
