---
title: Painting
date: 2020-02-01T13:32:41.848Z
permalink: painting/index.html
navtitle: Painting
tags: nav
layout: page.njk
---

Most of my paintings are done in sign painter's enamel on shaped plywood.

<ul>

	{%- for painting in collections.painting -%}
	<li>
	<a href={{painting.url}}>{{painting.data.title}}<img src={{painting.data.image}} alt={{painting.data.title}} />
	</li>
	{%- endfor -%}
	
</ul>


[![Keys, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/keysJune2019-768x509.jpg)](https://davidrhoden.com/painting/keys)

[![Yellow Bus, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bus3.jpg)](https://davidrhoden.com/painting/yellow-bus)

[![Give Me Your Money, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/Give-Me-Your-Money640x954.jpg)](https://davidrhoden.com/painting/give-me-your-money)

[![Bottlecap, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bottlecap.jpg)](https://davidrhoden.com/painting/bottlecap)

[![Aqua Squiggle, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/aquasquiggle2.jpg)](https://davidrhoden.com/painting/aqua-squiggle)

[![Organic Form 5, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/organicformsyellow640x838.jpg)](https://davidrhoden.com/painting/organic-form-5)

[![Yellow Squiggle, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/160809yellowsquiggle.jpg)](https://davidrhoden.com/painting/yellow-squiggle)

[![Organic Form 1, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/organicforms.jpg)](https://davidrhoden.com/painting/organic-form-1)

[![El Iceberg, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/20170428icebergcrop.jpg)](https://davidrhoden.com/painting/el-iceberg)

[![Big Face, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bigface.jpg)](https://davidrhoden.com/painting/big-face)

[![Organic Form 2, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/organicformsorange.jpg)](https://davidrhoden.com/painting/organic-form-2)

[![Luchador El Guerrero, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/20170503luchaguerrero.jpg)](https://davidrhoden.com/painting/luchador-el-guerrero)

[![Amputee, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/amputee.jpg)](https://davidrhoden.com/painting/amputee)

[![Seen outdoors in New Orleans, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/pieceatgogobs.jpg)](https://davidrhoden.com/painting/seen-outdoors-in-new-orleans)

[![I'm Over It, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/imoverit171207.jpg)](https://davidrhoden.com/painting/im-over-it)

[![Fuck Head, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/fuckhead.jpg)](https://davidrhoden.com/painting/fuck-head)

[![Cloud Creatures, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/cloudcreatures.jpg)](https://davidrhoden.com/painting/loud-creatures)

[![Avatar, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/avatar.jpg)](https://davidrhoden.com/painting/avatar)

[![Blue Squiggle, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bluesquiggle.jpg)](https://davidrhoden.com/painting/blue-squiggle)

[![Enough, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/Enoughfenceshot.jpg)](https://davidrhoden.com/painting/enough)

[![That's It That's It, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-thatsitduskclose.jpg)](https://davidrhoden.com/painting/thats-it-thats-it)

[![Four Heads, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/070924_fourheads.jpg)](https://davidrhoden.com/painting/four-heads)

[![Orange Squiggle, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/orangesquiggle02.jpg)](https://davidrhoden.com/painting/orange-squiggle)

[![Betty, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bigbetty1000.jpg)](https://davidrhoden.com/painting/betty)

[![Black Eye, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/whitepaintings1.jpg)](https://davidrhoden.com/painting/black-eye)

[![Blobcritters, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/blobcritters.jpg)](https://davidrhoden.com/painting/blobcritters)

[![Figures, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/twowhitefigures.jpg)](https://davidrhoden.com/painting/figures)

[![Tiger Man, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/rhodenluchas080429_08.jpg)](https://davidrhoden.com/painting/tiger-man)

[![Blue Luchador, in the yard, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/blueflame1.jpg)](https://davidrhoden.com/painting/blue-flame-in-the-yard)

[![Blue Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bluelucha140818_1000.jpg)](https://davidrhoden.com/painting/blue-luchador)

[![Startlebot, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/startlebot.jpg)](https://davidrhoden.com/painting/startlebot)

[![Purple Squiggle, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/purplesquigglejustdone.jpg)](https://davidrhoden.com/painting/purple-squiggle)

[![Several pieces in Bushwick Open Studios, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-allpiecesinplace.jpg)](https://davidrhoden.com/painting/several-pieces-in-bushwick-open-studios)

[![I Just Want To in Bushwick Open Studios, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-ijustwantto.jpg)](https://davidrhoden.com/painting/i-just-want-to-in-bushwick-open-studios)

[![Amputee in Bushwick Open Studios, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-righthandfar.jpg)](https://davidrhoden.com/painting/amputee-in-bushwick-open-studios)

[![Self Portrait in Bushwick Open Studios, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-selfcloseday.jpg)](https://davidrhoden.com/painting/self-portrait-in-bushwick-open-studios)

[![That's It That's It in Bushwick Open Studios, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/bos-thatsitduskclose.jpg)](https://davidrhoden.com/painting/thats-it-thats-it-in-bushwick-open-studios)

[![Sneak, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/sneak.jpg)](https://davidrhoden.com/painting/sneak)

[![Side-Facing Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/smallluchas1404123.jpg)](https://davidrhoden.com/painting/side-facing-luchador)

[![Boy With A Knife, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/boywithknife.jpg)](https://davidrhoden.com/painting/boy-with-a-knife)

[![Breathers, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/breathers.jpg)](https://davidrhoden.com/painting/breathers)

[![Green Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/smallluchas1404122.jpg)](https://davidrhoden.com/painting/green-luchador)

[![Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/colorful-lucha.jpg)](https://davidrhoden.com/painting/luchador)

[![Yellow Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/smallluchas1404121.jpg)](https://davidrhoden.com/painting/yellow-luchador)

[![Pipes, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/pipesoutside.jpg)](https://davidrhoden.com/painting/pipes)

[![Slow Your Roll, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/slowyourroll.jpg)](https://davidrhoden.com/painting/slow-your-roll)

[![Organic Form 4, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/organicform4.jpg)](https://davidrhoden.com/painting/organic-form-4)

[![Corn Man, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/cornmanreadyfortheworld.jpg)](https://davidrhoden.com/painting/corn-man)

[![I Don't Like This And I Don't Want To Do It, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/dontlike1000.jpg)](https://davidrhoden.com/painting/i-dont-like-this-and-i-dont-want-to-do-it)

[![Dottage, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/dottage.jpg)](https://davidrhoden.com/painting/dottage)

[![Self Portrait, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/selfportrait-with-large-tongue.jpg)](https://davidrhoden.com/painting/self-portrait)

[![I refer to this as Foil Face., a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/foilface.jpg)](https://davidrhoden.com/painting/i-refer-to-this-as-foil-face)

[![I'm Holding In A Lot Of Anger, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/holdingangeronfloor.jpg)](https://davidrhoden.com/painting/im-holding-in-a-lot-of-anger)

[![Very Pink Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/IMG_20170429pinkyelojustdone.jpg)](https://davidrhoden.com/painting/very-pink-luchador)

[![Odd Green Luchador, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/rhodenluchas080429_07.jpg)](https://davidrhoden.com/painting/odd-green-luchador)

[![Improbable, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/improbable.jpg)](https://davidrhoden.com/painting/improbable)

[![Many Eyes, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/manyeyedmonster.jpg)](https://davidrhoden.com/painting/many-eyes)

[![Mitzi, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/mitzi.jpg)](https://davidrhoden.com/painting/mitzi)

[![Mummies, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/mummies_context.jpg)](https://davidrhoden.com/painting/mummies)

[![Le Petomane, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/petomane.jpg)](https://davidrhoden.com/painting/le-petomane)

[![Pink Lucha, a painting by David Rhoden](https://davidrhoden.com/assets/images/paintings/_threeHundredTwentyPxSquare/pinkluchadorwithshadow.jpg)](https://davidrhoden.com/painting/pink-lucha)

David Rhoden
