---
section: painting
---

Most of my paintings are done in sign painter's enamel on shaped plywood.

<ul>
	{%- for painting in collections.painting -%}
	<li>
	<a href={{painting.url}}>{{painting.data.title}}<img src={{painting.data.image}} alt={{painting.data.title}} />
	</li>
	{%- endfor -%}
</ul>
