---
title: Tags
date: 2017-01-01T00:00:00.000Z
permalink: /about/index.html
navtitle: About
bodyClass: "about"
eleventyNavigation:
  key: About
  order: 11
  pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
tags: 
	- nav
---
<h1>Tagged “{{ tag }}”</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>