---
layout: layouts/base.njk
section: timeline
pagination:
  data: collections.posts
  size: 1
  alias: post
  reverse: true
permalink: /timeline/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---

<h1>{{ title }}</h1>

	{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}

<div class="pagination">
  {% if pagination.previousPageHref %}
  <a class="pagination-item prev" rel="prev" href="{{ pagination.previousPageHref }}">← Newer</a>
  {% endif %}

  {% if pagination.nextPageHref %}
  <a class="pagination-item next" rel="next" href="{{ pagination.nextPageHref }}">Older →</a>
  {% endif %}
</div>