---
layout: layouts/base.njk
section: webdev
pagination:
  data: collections.webdev
  size: 6
  alias: sites
---

<article>
  <h1>{{ title }}</h1>
<img src="{{ webdev.data.image }}" alt="{{ webdev.data.title }}: web development by David Rhoden" />
 
  {{ layoutContent | safe }}
   {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "webdev" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>


<ol>
{% for site in sites %}
  <li><a href="{{ site.url | url }}">{{ site.data.title }}</a></li>
{% endfor %}
</ol>

{% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% endif %}


<nav>
  <a href="{{ '/webdev/' | url }}">← Web Development index</a>
</nav>
