---
layout: layouts/base.njk
section: webdev
pageClass: webdev
permalink: /webdev/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set webdevlist = collections.webdev %}
{% include "components/webdevlist.njk" %}

{% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% endif %}